{% extends 'base.html' %}

{% block sidebar %}
    {{ block.super }}
    <ul>
        {% if user.is_authenticated %}
            <p>{{ user }} is logged in </p>
            <li><a href='/inventory/edit_profile'> edit profile</a></li>
            <li><a href='/inventory/logout'> Logout</a></li>
        {% else %}
            <p> Nobody is logged in  </p>
        {% endif %}

    </ul>
{% endblock %}

{% block content %}
    <h2> Your account has been verified </h2>
    <h3> Click <a href='/inventory/login/'>here</a> to login.</h3>

{% endblock %}